.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap-container {
  max-width: 520px;
  width: 520px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background: var(--surface-card);

  .swap-header {
    height: 44px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--surface-900);
  }

  .swap-content {
    padding: 32px;
  }
}
